.App {
  text-align: center;
}
.container{
  width: 800px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgb(152, 152, 152);
}
.header img{
  width: 120;
  height: auto;
}
.menu-list{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style: none;
}
.menu-list a{
  font-size: 23px;
  text-decoration: none;
  color: rgb(24, 24, 24);
}
.number{
  margin: 40px 0 0 320px;
  font-weight: 700;
  font-size: 288px;
  line-height: 346px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  padding: 70px;
}
.button{
  width: 56px;
  height: 58px;
  border-radius: 27px;
}
.button:hover{
  cursor: pointer;
}
.button-plus{
  color: #fff;
  border: solid #0FC50B;
  background-color: #0FC50B;
}
.button-return{
  border: solid #e5e5e54d;
}
.button-minus{
  color: #fff;
  border: solid #F64C4C;
  background-color: #F64C4C;
}
.footer{
  margin-top: 200px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
.footer-menu__list{
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  list-style: none;
}
.footer-menu__list a{
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  
  color: rgba(0, 0, 0, 0.5);
}
.copyright{
  font-weight: 700;
font-size: 16px;
line-height: 19px;

color: rgba(0, 0, 0, 0.5);
}
